version: '3.8'
services:
    mongodb:
        image: 'mongo'
        ports:
            - '27027:27017'
        networks:
            - knowelege-app
        volumes:
            - mongo-data:/data/db

    backend:
        restart: always
        build:
            dockerfile: Dockerfile.dev
        container_name: knowelege-api
        environment:
            BD_URI: mongodb://mongodb:27017/knowelege
            # BD_INIT: Иницировать тестовые данные 1-Да
            BD_INIT: 1
            PORT: 3000
        ports:
            - '3000:3000'
        networks:
            - knowelege-app
        volumes:
            - ./api:/app/api
            - logs:/app/logs
        depends_on:
            - mongodb

networks:
    knowelege-app:
        driver: bridge

volumes:
    mongo-data:
        driver: local
    data:
    logs:
